<script>
    var spreadSheetId = "1x0_ekcYR34oLqiTmklQZGmpgW_u-IhJii7J4fC9-ePQ";
    var coverAwardsSpreadSheetId = "1imS2rixK8aw_wS6BAz9iFjchtBd2nfkkc9-0fMHQP5U";
</script>
<section id="kalendar" class="download bg-primary text-center">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Cover Týdne Soutěž - 1/2018 (beta)</h2>
                    <div class="text-left">
                        <p>Účastníci soutěže a jejich bodové hodnocení. Soutěž se koná každý čtvrt rok (13 týdnů) a po uplynutí této doby budou vyhlášeni vítězové, kteří obdrží věcné ceny</p>
                        <p>Soutěže se mohou účastnit pouze osobní Facebook profily. Pomocí Facebook stránky můžete nadále hlasovat, ale budete postupně skryti ve výsledcích a i kdyby ne tak nejste bráni na zřetel v rámci soutěže. Děkujeme za pochopení.</p>
                        <p>Za co získáte body?</p>
                        <ul>
                            <li>Za účast (hlasování): 1 bod</li>
                            <li>Za sdílení hlasování: 1 bod</li>
                            <li>Za správný tip vítěze: 3 bod</li>
                        </ul>
                        <p>Váš tip není možné měnit (tedy to co zvolíte jako první to se počítá) a počítají se jen hlasy, které byly uděleny před vyhlášením vítěze (jmenovitě hlasy do soutěže končí vždy v neděli danný týden). Soutěž je tedy určena hlavně pravidelně hlasujícím divákům.</p>
                        <p>O co se hraje tento kvartál? <!--(Seznam není kompletní)--></p>
                        <ul class="cover-awards cover-awards-page">
                        </ul>
                        <h4 class='text-center mt40'>Videa s představením cen:</h4>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <!--iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLBvib_JXV_Orh1Yuz9XrsjUy1YL1t2YtD" frameborder="0" allowfullscreen></iframe>-->
                                <div class="youtube-player" data-id="PLBvib_JXV_OocLIvsi_MPblK5iTRGQAyj" data-name="Ceny do soutěže"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-12">
                    <h4 class="section-heading">Pořadí hlasujících</h4>
                    <table id="cover-tydne-hra-table" class="cover-tydne-hra-table display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr class="cover-tydne-hra-header-row">
                            <th>Účastník</th>
                            <th>Body celkem</th>
                        </tr>
                    </thead>
                    <tbody id="coverTydneHraBody"></tbody>
                    <tfoot style="display: none;">
                        <tr class="cover-tydne-hra-header-row">
                            <th>Účastník</th>
                            <th>Body celkem</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>