<script>
    var spreadSheetId = "1x0_ekcYR34oLqiTmklQZGmpgW_u-IhJii7J4fC9-ePQ";
</script>
<section id="kalendar" class="download bg-primary text-center">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Cover Týdne Soutěž - 1/2018 (beta)</h2>
                    <div class="text-left">
                        <p>Účastníci soutěže a jejich bodové hodnocení. Soutěž se koná každý čtvrt rok (13 týdnů) a po uplynutí této doby budou vyhlášeni vítězové, kteří obdrží věcné ceny</p>
                        <p>Soutěže se mohou účastnit pouze osobní Facebook profily. Pomocí Facebook stránky můžete nadále hlasovat, ale budete postupně skryti ve výsledcích a i kdyby ne tak nejste bráni na zřetel v rámci soutěže. Děkujeme za pochopení.</p>
                        <p>Za co získáte body?</p>
                        <ul>
                            <li>Za účast (hlasování): 1 bod</li>
                            <li>Za sdílení hlasování: 1 bod</li>
                            <li>Za správný tip vítěze: 3 bod</li>
                        </ul>
                        <p>Váš tip není možné měnit (tedy to co zvolíte jako první to se počítá) a počítají se jen hlasy, které byly uděleny před vyhlášením vítěze (jmenovitě hlasy do soutěže končí vždy v neděli danný týden). Soutěž je tedy určena hlavně pravidelně hlasujícím divákům.</p>
                        <p>O co se hraje tento kvartál?</p>
                        <ul>
                            <li>1. místo: --- Bude doplněno ---</li>
                            <li>2. místo: --- Bude doplněno ---</li>
                            <li>3. místo: --- Bude doplněno ---</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-12">
                    <h4 class="section-heading">Pořadí hlasujících</h4>
                    <table id="cover-tydne-hra-table" class="cover-tydne-hra-table display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr class="cover-tydne-hra-header-row">
                            <th>Účastník</th>
                            <th>Body celkem</th>
                        </tr>
                    </thead>
                    <tbody id="coverTydneHraBody"></tbody>
                    <tfoot style="display: none;">
                        <tr class="cover-tydne-hra-header-row">
                            <th>Účastník</th>
                            <th>Body celkem</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>