<section id="kalendar" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Kalendář pro natáčení</h2>
                <p>Jestli nejseš napsanej na příští týden tak to rychle naprav!</p>
                <p><a href="https://calendar.google.com" class="btn btn-outline-oposite btn-xl page-scroll" target="_blank">Zapsat do Kalendáře</a></p>
                <div class="badges">
                    <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=750&amp;wkst=1&amp;hl=cs&amp;bgcolor=%23247EBB&amp;src=vir3118gk7prdf08jaleqhn6c8%40group.calendar.google.com&amp;color=%23FFFFFF&amp;ctz=Europe%2FPrague" style="border-width:0" width="800" height="750" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
