<section id="kalendar" class="download bg-primary text-center">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Crwecon 2019</h2>
                    <p>Pro všechny kterým se nepodařilo dorazit na Crwecon, nestihli pro samé pivo některou z přednášek, nebo se večer tak upravili, že si nic nepamatují! :)</p>
                </div>
            </div>
            <!--
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    <h3 class="section-heading">Videa</h3>
                    <p>Pokud si to chcete prožít na vlastní kůži tak tady máte zážitková videa!</p>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="youtube-player" data-id="PLBvib_JXV_OqsxlYupHyiFeREgNc4bJCp" data-name="Crwecon"></div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    <h3 class="section-heading">Přednášky</h3>
                    <p>Zde máte k nahlédnutí přednášky, které si pro vás kluci připravili.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQlCJy-5569Tqa1A-zmMVdmq3NqovMI2Evw98UNfkWoSPpBCxVMFqSTrZNRqPHG4Q/embed?start=false&loop=false&delayms=3000" frameborder="0" width="529" height="426" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="max-width: 100%"></iframe>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS1U32lodFRfHVTSm5knvSJ0x7DRLS3PSYoYH2Z59BgGb9pZX_aJj2rEi0gUyEMmw/embed?start=false&loop=false&delayms=3000" frameborder="0" width="529" height="426" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="max-width: 100%"></iframe>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-12">
                    <h4>Předchozí ročníky</h4>
                    <ul class="kvartals cover-awards-page" style='list-style: none; padding: 0px !important;'>
                        <li>
                            <a href="{{ site.rewrite }}crwecon-2018">Crwecon - 2018</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
