<section id="kalendar" class="download bg-primary text-center">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Crwecon 2018</h2>
                    <p>Pro všechny kterým se nepodařilo dorazit na Crwecon, nestihli pro samé pivo některou z přednášek, nebo se večer tak upravili, že si nic nepamatují! :)</p>
                    <p>Zde máte k nahlédnutí přednášky, které si pro vás kluci připravili.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">TOP 10 US COMICS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQhZysp8xVUF-lXypJ8wfrg_5uWr_xajy1o5o3yeMXxOTvug3OEv1ma8OLUivnxdqjssjsID_CsWQdI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="529" height="426" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">NOIR & CRIME COMICS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQvxaK1-mJNhJ1ahbn3PtZ8nIUK79YQTAzt3mzA_98E-Y5PtGto4arh03jdD_-ICo5LdUGTzsZdQCuT/embed?start=false&loop=false&delayms=3000" frameborder="0" width="529" height="426" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
