<script>
    var spreadSheetId = "1x0_ekcYR34oLqiTmklQZGmpgW_u-IhJii7J4fC9-ePQ";
</script>
<section id="kalendar" class="download bg-primary text-center">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Cover Týdne Hra - Beta</h2>
                    <p>Účastníci soutěže a jejich bodové hodnocení.</p>
                    <p>Za účast v hlasování získá uživatel jeden bod za správné určení vítěze pak další 3 body.</p>
                    <p>Zatím to není přesně určeno, ale určitě bude nějaké vyhlášení vítězů a nějaké pěkné ceny :).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="cover-tydne-hra-table" class="cover-tydne-hra-table display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr class="cover-tydne-hra-header-row">
                            <th>Účastník</th>
                            <th>Body celkem</th>
                        </tr>
                    </thead>
                    <tbody id="coverTydneHraBody"></tbody>
                    <tfoot style="display: none;">
                        <tr class="cover-tydne-hra-header-row">
                            <th>Účastník</th>
                            <th>Body celkem</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>