<section id="kalendar" class="download bg-primary text-center">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Cover Týdne Plán</h2>
                    <p>Zde je plán kdo ja kdy bude hlasovat - aktuální týden je <strong id="actual-week"></strong></p>
                    <p>Losování, kdo bude hlasovat příští týden by mělo proběhnout po nedělní půlnoci a objevit se tu automaticky. Při shodě nejmenšího počtu bodů zatím není odladěno vyřazování takže je vyřazen první v pořadí s nejmenší počtem.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="cover-plan-table" class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Týden</th>
                            <th>Hlasují</th>
                        </tr>
                    </thead>
                    <tbody id="coverPlanBody"></tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <th>Týden</th>
                            <th>Hlasují</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Covery Hra - Týdenní body</h2>
                    <p>Aktuální týden (první řádek) není nijak moc směrodatný v hlavní době hlasování (úterý 12:00 - 16:00) a je v nynější podobě dvou týdnů uzavřen až po skončení dvoutýdenního cyklu!</p>
                    <p>Kolik kdo dostal v danném týdnu hlasů a bodů - bodují se první 3 místa (5,3,1 bodů). Hlasy se průběžně updatují a bere se vždy nejposlednější stav u vysílání, takže pokud jste v pořadu byli uvedeni jako vítězové, ale pak ještě nějaké hlasy přibily tak tu nemusíte být jako vítězové. (V podstatě berem jak jsou na tom hlasy nyní!)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="cover-week-points-table" class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Cover Týdne #</th>
                            <th>Porty</th>
                            <th>Jakub</th>
                            <th>Honza</th>
                            <th>Vojta</th>
                            <th>Ondřej</th>
                            <th>Walome</th>
                            <th>Shial</th>
                        </tr>
                    </thead>
                    <tbody id="coverWeekPointsBody"></tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <th>Cover Týdne #</th>
                            <th>Porty</th>
                            <th>Jakub</th>
                            <th>Honza</th>
                            <th>Vojta</th>
                            <th>Ondřej</th>
                            <th>Walome</th>
                            <th>Shial</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Covery Hra - Body celkem</h2>
                    <p>A zde je průběžné celkové pořadí!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="cover-all-points-table" class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Porty</th>
                            <th>Jakub</th>
                            <th>Honza</th>
                            <th>Vojta</th>
                            <th>Ondřej</th>
                            <th>Walome</th>
                            <th>Shial</th>
                        </tr>
                    </thead>
                    <tbody id="coverAllPointsBody"></tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <th>Porty</th>
                            <th>Jakub</th>
                            <th>Honza</th>
                            <th>Vojta</th>
                            <th>Ondřej</th>
                            <th>Walome</th>
                            <th>Shial</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <h2 class="section-heading">Covery Hra - Body celkem FAIR</h2>
                    <p>A zde je průběžné celkové pořadí! Férové v tom, že se počítá od doby, kdy jsme tu všichni tedy (Cover Týdne #8)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="cover-all-fair-points-table" class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Porty</th>
                            <th>Jakub</th>
                            <th>Honza</th>
                            <th>Vojta</th>
                            <th>Ondřej</th>
                            <th>Walome</th>
                            <th>Shial</th>
                        </tr>
                    </thead>
                    <tbody id="coverAllFairPointsBody"></tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <th>Porty</th>
                            <th>Jakub</th>
                            <th>Honza</th>
                            <th>Vojta</th>
                            <th>Ondřej</th>
                            <th>Walome</th>
                            <th>Shial</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>
