<script src="https://apis.google.com/js/platform.js"></script>
<section id="youtube" class="download bg-primary text-center">
    <div class="container">
        <div class="row" style='margin-bottom: 20px;'>
            <div class="col-md-8 col-md-offset-2" style='padding: 0;'>
                <h2 style='font-size: 30px;'>Do následujícího dílu zbývá:</h2>
                <p style="margin-bottom: 30px;">(Předpokládáme, že to bude v pondělí ve 20:00)</p>
                <div class="clock"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Už jsi viděl/a nejnovější díl pořadu <strong>KOMIKSOVÉ NOVINY?</strong></h3>
                <p>Ne? Tak hned pouštěj, užívej a odebírej!</p>
                <div class="g-ytsubscribe" data-channelid="UC0TT9mO72wxlgBVR-7vq5ug" data-layout="full" data-theme="dark" data-count="default"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!--iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLBvib_JXV_Orh1Yuz9XrsjUy1YL1t2YtD" frameborder="0" allowfullscreen></iframe>-->
                <div class="youtube-player" data-id="PLBvib_JXV_Orh1Yuz9XrsjUy1YL1t2YtD" data-name="Episody"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Chceš nakouknout do kuchyně tvorby pořadu?</h3>
                <p>Tak to si pouštěj scény, co se nedostaly do pořadu.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLBvib_JXV_OqMd4KiH-EQdWUDRLwv6C5h" frameborder="0" allowfullscreen></iframe>-->
                <div class="youtube-player" data-id="PLBvib_JXV_OqMd4KiH-EQdWUDRLwv6C5h" data-name="Bloopers"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>A co takhle nějaký Speciálek?</h3>
                <p>Jsou věci, který potřebujou vlastní prostor, který prostě chceš vidět.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLBvib_JXV_OrbvndKcMKicEZS_Coew_Db" frameborder="0" allowfullscreen></iframe>-->
                <div class="youtube-player" data-id="PLBvib_JXV_OrbvndKcMKicEZS_Coew_Db" data-name="Speciály"></div>
            </div>
        </div>
        <div id="facebook" class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Tohle ti nestačí a chceš nějaký fotky a plky?</h3>
                <p>Tak to se vrhni na naši FB Page.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="fb-page" data-href="https://www.facebook.com/KomiksoveNoviny/" data-tabs="timeline,events,messages" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/KomiksoveNoviny/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KomiksoveNoviny/">Komiksové Noviny</a></blockquote></div>
            </div>
        </div>
    </div>
</section>
