<script>
    var spreadSheetId = "1ENPA5G5w9wgwQAj0irBPDqtjV-ErtynTc5crm-pxkjg";
</script>

<section id="redakce-covery" class="download bg-primary text-center">
    <div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Porty</h2>
            </div>
        </div>
        <div id="portyCovers" class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Jakub</h2>
            </div>
        </div>
        <div id="jakubCovers" class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Honza</h2>
            </div>
        </div>
        <div id="honzaCovers" class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Vojta</h2>
            </div>
        </div>
        <div id="vojtaCovers" class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Kunden</h2>
            </div>
        </div>
        <div id="kundenCovers" class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Walome</h2>
            </div>
        </div>
        <div id="walomeCovers" class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Shial</h2>
            </div>
        </div>
        <div id="shialCovers" class="row"></div>
    </div>
</section>