<section id="soutez" class="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading text-center">Soutěž s Cover Týdne!</h2>
                <p class='text-center'>Chcete se zapojit do čtvrtletní soutěže o věcné ceny? Nebo již soutěžíš a chceš si ověřit jak je na to tvé bodové konto? Pak přejdi na <br /><a href="{{ site.rewrite }}soutez">SOUTĚŽ s Cover Týdne</a></p>
                <p>O co se hraje tento kvartál? (Seznam není kompletní)</p>
                <ul class="cover-awards">
                    <li><a href="http://www.comicscentrum.cz/97880881523161-james-bond-1-vargr.html" target="_blank">James Bond 1: Vargr - Comics Centrum</a> <a href='https://www.youtube.com/watch?v=2GItRt7Hkpo' target='_blank'>(video)</a></li>
                    <li><a href="http://www.comicscentrum.cz/9788088152385-cerna-palice-1-tajemstvi-pocatku.html">Černá palice 1: Tajemství počátků - Comics Centrum</a> <a href='https://www.youtube.com/watch?v=2GItRt7Hkpo' target='_blank'>(video)</a></li>
                    <li><a href="http://www.comicscentrum.cz/9788088152361-baltimore-1-morove-lode.html">Baltimore 1: Morové lodě - Comics Centrum</a> <a href='https://www.youtube.com/watch?v=2GItRt7Hkpo' target='_blank'>(video)</a></li>
                    <li class='hidden'><a href="http://www.comic.sk/">X-Files Series 2 Action Figure: Agent Fox Mulder - Komiksový ráj / www.comic.sk</a> <a href='https://www.youtube.com/watch?v=ZB-Ob6Sc1Qs' target='_blank'>(video)</a></li>
                    <li class='hidden'><a href="http://www.comic.sk/">X-Files Series 2 Action Figure: Agent Dana Scully - Komiksový ráj / www.comic.sk</a> <a href='https://www.youtube.com/watch?v=ZB-Ob6Sc1Qs' target='_blank'>(video)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="kontakt" class="contact bg-primary">
    <div class="container">
        <h2>Sledujte nás, kde se dá!</h2>
        <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a href="{{ network.url }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
            </li>
        {% endfor %}
        </ul>
        <!-- <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul> -->
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2017 theme by <a rel="nofollow" target="blank" href="https://github.com/jekynewage/jekynewage.github.io">Start Boostrap New Age Theme for Jekyll</a>. All Rights Reserved. Created by Kunden</p>
    </div>
</footer>
