<section id="cover" class='features bg-primary' style="background: url('/img/covers_blue.jpg') no-repeat center fixed; background-size: cover; padding: 0px; color: #22A0F3;">
    <div style='background: rgba(34,160,243,0.7); padding: 40px 0px;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading" style='margin: 0px;'>
                        <div style="background: #DFE367; padding: 10px 0px;">
                            <h2>Cover týdne</h2>
                            <p>Jaký cover je nejlepší v tomto i v minulých týdnech?</p>
                        </div>
                        <select class="selectpicker">
                        </select>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="coversContainer" class="row">
            </div>
        </div>
    </div>
</section>
