<script src="../losovani_sources/TweenMax.min.js"></script>
<link rel="stylesheet" media="all" href="../losovani_sources/application.css" data-turbolinks-track="false">
<script src="../losovani_sources/application.js"></script>
<script src="../losovani_sources/common.js"></script>
<script src="../losovani_sources/spin_wheel.js"></script>
  
<div class="container">
      
    <div class="row" style="margin: 20px;">
          
        <div class="content fixed-fixed">
            <div class="col-lg-12">
      
                <div class="row">
                    <div class="col-xs-12">
                        <script>
                          window._db_name_set = null;
                        </script>
                        <div id="main">
                            <div class="centered the_wheel">
                                <canvas id="canvas" class="canvas" width="500" height="500">
                                    Canvas not supported, use another browser.
                                </canvas>
                            </div>
                            <div id="winner-container" class="centered">
                                <div class="btn-group winner-btn-group centered" role="group" aria-label="Basic example">
                                    <span class="winner">Vítěz je ...</span>&nbsp;&nbsp;
                                    <span><button class="btn btn-sm btn-primary remove-name">Odstranit Vítěze</button></span>
                                </div>
                            </div>

                            <div class="centered">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a title="Vrátit se na Noviny" href="/" class="btn btn-responsive btn-success">Komiksové Noviny</a>
                                    <button title="Přidej nebo uprav jména" class="btn btn-responsive btn-success modal-trigger">Nastav Jména</button>
                                    <button title="Odstraň víteze a dej zpátky jména" class="btn btn-responsive btn-success reset-name">Resetuj Jména</button>
                                    <button title="Nastav rychlost točení" class="btn btn-responsive btn-success options">Rychlost</button>
                                    <button title="Roztoč kolo!" class="btn btn-responsive btn-success spin-trigger">Zatoč</button>
                                </div>
                            </div>

                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Nastav Jména</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        Napiš jména a ulož to kliknutím na 'Save'. Prázdné řádky budou ignorovány.
                                                        <br>
                                                        Jména se uloží v prohlížeči a budou dostupná pro příští návštěvě.
                                                    </p>
                                                    <p>
                                                        <strong>Klikni na Nastav jména pro jejich nastavení do kola.</strong><br>
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="centered">
                                                                <select id="dial" class="form-control" style="height:100%" size="12">
                                                                      <option value="0">Jména #1</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div class="centered">
                                                                <textarea id="display" rows="10" class="form-control participants" placeholder="Type name here..."></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Uložit &amp; Zavřít</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
      
                            <div class="modal fade" id="myOptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Rychlost točení</h4>
                                        </div>
                                      <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="popover-content" class="centered">
                                                        <label class="radio-inline"><input type="radio" id="normal-speed" name="sw_speed" value="1" checked="true">Normalní</label>
                                                        <label class="radio-inline"><input type="radio" id="fast-speed" name="sw_speed" value="2">Rychlá</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Uložit &amp; Zavřít</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div> <!-- /container -->
      
