<section id="covers" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Kde hledat covery?</h2>
                <p><a href="http://www.midtowncomics.com/store/weeklyreleasebuy.asp" class="btn btn-outline-oposite btn-xl page-scroll" target="_blank">Midtown Comics</a></p>
                <p><a href="http://leagueofcomicgeeks.com/comics/new-comics" class="btn btn-outline-oposite btn-xl page-scroll" target="_blank">League of comic geeks</a></p>
            </div>
        </div>
    </div>
</section>
