<section id="projekty" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Další naše projekty</h2>
                <p>Pokud vás tento pořad baví je hodně možné, že vás budou bavit i tyto.</p>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.walome.cz/" class="portfolio-box" target="_blank">
                    <img src="{{ site.rewrite }}img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Walome.cz
                            </div>
                            <div class="g-ytsubscribe" data-channelid="UC3wsOiRyuLHMtUhKBGFSAWw" data-layout="full" data-theme="dark" data-count="default"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://geekcave.cz/" class="portfolio-box" target="_blank">
                    <img src="{{ site.rewrite }}img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                GeekCave.cz
                            </div>
                            <div class="g-ytsubscribe" data-channelid="UC7VTfZpcloDDLNHRlsWH_mA" data-layout="full" data-theme="dark" data-count="default"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/channel/UCQj6xma_Asp8n-Zzrq9f2jA" class="portfolio-box" target="_blank">
                    <img src="{{ site.rewrite }}img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Kundenovy Komiksové Komenty
                            </div>
                            <div class="g-ytsubscribe" data-channelid="UCQj6xma_Asp8n-Zzrq9f2jA" data-layout="full" data-theme="dark" data-count="default"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
