
    <section id="harmonogram" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Harmonogram týdne</h2>
                        <p class="text-muted">Co, kdy a jak zveřejňovat.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="harmonogram-table" class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Den</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pondělí</td>
                            <td>Nový díl Komiksových Novin</td>
                        </tr>
                        <tr>
                            <td>Úterý</td>
                            <td>Hlasování FB live o Cover týdne</td>
                        </tr>
                        <tr>
                            <td>Středa</td>
                            <td>Link na něco z pondělního videa (článek, trailer...)</td>
                        </tr>
                        <tr>
                            <td>Čtvrtek</td>
                            <td>Link č. 2 na něco z pondělního videa (článek, trailer...)</td>
                        </tr>
                        <tr>
                            <td>Pátek</td>
                            <td>Bloopers z pondělního videa</td>
                        </tr>
                        <tr>
                            <td>Sobota</td>
                            <td>Volno a chlast!</td>
                        </tr>
                        <tr>
                            <td>Neděle</td>
                            <td>Teaser na čtenářskej deník</td>
                        </tr>
                    </tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <th>Den</th>
                            <th>Content</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
    </section>
