<section id="kluci" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Kluci před kamerou</h2>
                    <p class="text-muted">Nepamatuješ si, kdo tě provází pořadem? Tak to čekuj!</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="{{ site.rewrite }}img/portfolio/vojta.jpg"/>
                                <h3>Vojta</h3>
                                <p class="text-muted">Milovník piva a dobrých komiksů. Stejně tak vášnivý hráč takových těch divných kartiček. Vedoucí týmu co umí zavelet</p>
                                <p class="text-muted">UPDATE: Pořád leje.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="{{ site.rewrite }}img/portfolio/walome.jpg"/>
                                <h3>Walome</h3>
                                <p class="text-muted">Kluk, který se zrodil pro hejt. Nebo se hejt zrodil pro něj. Lidé se v tom pořadí rozcházejí, ale jedno je jisté: Walome nesnáší zastánce obou variant.</p>
                                <p class="text-muted">UPDATE: Jen z něj jablíčkář a už není nejvetší hejtr v redakci. Navíc má největšího a nejúspěšnějšího DiCKKa</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="{{ site.rewrite }}img/portfolio/ondra.jpg"/>
                                <h3>Ten Člověk</h3>
                                <p class="text-muted">Jedinej z nás pořádně neví co je komiks a je vlastně do počtu. Na druhou stranu dobře předstírá, že tomu rozumí a snaží se nás trochu rebelovat, což je občas třeba.</p>
                                <p class="text-muted">UPDATE: Je to prej hroznej hejtr a negativista a tak už byl jednou z Novin vyhozen.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="{{ site.rewrite }}img/portfolio/gabo.jpg"/>
                                <h3>Gabo</h3>
                                <p class="text-muted">Člověk, který vyvažuje Walomeho nevous, Kundenovu nevědomost a Haldovo vyhození. Sic nováček vypadá, že toho má hodně co říct.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="{{ site.rewrite }}img/portfolio/venca.jpg"/>
                                <h3>Venca</h3>
                                <p class="text-muted">Přišel, aby nám ukázal jak na techniku. Takže nám pořád svítí do očí a ukazuje, kdy můžem mluvit. Za odměnu ho budem teď trochu trýznit před kamerou, protože má načteno víc než někteří z nás.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img src="{{ site.rewrite }}img/portfolio/nasta.jpg"/>
                                <h3>Nancy</h3>
                                <p class="text-muted">S holkama to nevyšlo tak teď to zkouší jako kluk. Nadávejte si ji jak chcete furt je lepší než někteří z nás, krom Vojty co umí všechno nejlíp no, takže se s ní smiřte a věřte tomu, že na Batflecka taky lidi zprvu nadávali.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Pro své nesplněné sliby vyhozeni</h2>
                    <p class="text-muted">Když něco několik měsíců slibuješ a neuděláš tak se nediv, že budeš vedle Lhalíře!</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/kuba.jpg"/>
                                    <h3>Kuba</h3>
                                    <p class="text-muted">Tenhle kluk má super Image. Jako jediný z nás na kameře vypadá vždy skvěle (Vojta právě rozbil klávesnici), stejně jako má skvělý výběr čtiva.</p>
                                    <p class="text-muted">UPDATE: Vydělal na Ýbeji velký pracha za Spóna tak se vysral na Noviny.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/halda.jpg"/>
                                    <h3>Halda</h3>
                                    <p class="text-muted">Nejspíš ho do týdne vyhodíme, protože je moc casnej občas až ocasnej. Ale tak někdy něco četl a když nám necpe, že viděl Twin Peaks tak se nim dá i rozumně mluvit. A navíc doba si žádá mít odborníka na Rebirth!</p>
                                    <p class="text-muted">UPDATE: Zatím je prostě vyhozen no.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Externí spolupracovníci</h2>
                    <p class="text-muted">Je možné, že tyhle lidi zahlédneš v některém z videí nebo v jiných věcech. Prostě kdykoliv si udělaj čas tak je rádi uvidím(t)e!</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/shial.jpg"/>
                                    <h3>Shial</h3>
                                    <p class="text-muted">Největší chlap z nás. Vytlačila Honzu nebo se Honza nechal vytlačit ní. Ať už kdokoliv z nich tlačil víc, vyšlo z toho to, že teď okupuje naší redakci a přináší trochu smíchu do pochmurných dní.</p>
                                    <p class="text-muted">UPDATE: Teď už jen externě, ale když budete hodně žádat tak se určitě zas někdy ukáže.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/port.jpg"/>
                                    <h3>Port</h3>
                                    <p class="text-muted">Sice přišel poslední, ale s ním přisla pořádná kvalita (Vojta neslouhlasně exuje pivo). Ví o čem mluví a má to všechno na háku. A má jen o malinko lepší vous než Walome.</p>
                                    <p class="text-muted">UPDATE: Z Liberce je daleko, ale i tak se dá občas zabloudit do Prahy!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Čestná síň nehynoucí lásky</h2>
                    <p class="text-muted">Sem se nedostane jen tak někdo. Abys tu byl musíš vymyslet pořad a zůstat v našich srdíčkách. :-*</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/honza.jpg"/>
                                    <div>
                                        <h3>Honza</h3>
                                        <p class="text-muted">Týpek co má nad náma pevnou ruku a nenechá nás plně divočit. Stejně se vždy patlá s natočenym balastem a vytvoří z toho skvělé video.</p>
                                        <p class="text-muted">UPDATE: Hledejte ho na <a href="https://www.youtube.com/channel/UCujc4tn1M3GOKuTZUMhoMZw" target="_blank">Kanálu Honzy Potměšila</a> a pište mu tam do komentů a zpráv, že chcete aby se vrátil do Novin! Prosím!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
<section id="goodreads" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Co čteme a NÁZORY!</h2>
                    <p class="text-muted">Průvodce dobrou četbou, kterej si nemůžeš nechat ujít</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <!--<div class="col-md-6">
                            <div id="gr_custom_widget_jakub">
                                <div class="gr_custom_container_jakub">
                                    <h2 class="gr_custom_header_jakub">
                                        <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/80133743-jakub-kv-z?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget" target="_blank">Jakub</a>
                                    </h2>
                                    <br style="clear: both"/>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-6">
                            <div id="gr_custom_widget_vojta">
                                <div class="gr_custom_container_vojta">
                                    <h2 class="gr_custom_header_vojta">
                                        <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/2382311-vojt-ch-rabyniuk?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget" target="_blank">Vojta</a>
                                    </h2>
                                    <br style="clear: both"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="gr_custom_widget_vaclav">
                                <div class="gr_custom_container_vaclav">
                                    <h2 class="gr_custom_header_vaclav">
                                        <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/78430675-v-clav?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget" target="_blank">Václav</a>
                                    </h2>
                                    <br style="clear: both"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="gr_custom_widget_gabo">
                                <div class="gr_custom_container_gabo">
                                    <h2 class="gr_custom_header_gabo">
                                        <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/2747429-gabriell-anderson?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget" target="_blank">Gabo</a>
                                    </h2>
                                    <br style="clear: both"/>
                                </div>
                            </div>
                        </div>
                        
                        <!--<script src="https://www.goodreads.com/review/custom_widget/80133743.Jakub?cover_position=left&cover_size=medium&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=jakub&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>-->
                        
                        <!-- Vojta ma date_added misto date_read -->
                        <script src="https://www.goodreads.com/review/custom_widget/2382311.Vojta?cover_position=left&cover_size=medium&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=vojta&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
                        
                        <script src="https://www.goodreads.com/review/custom_widget/78430675.Václav?cover_position=left&cover_size=medium&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=vaclav&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
                        
                        <script src="https://www.goodreads.com/review/custom_widget/2747429.Gabo?cover_position=left&cover_size=medium&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=gabo&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
