
    <section id="kluci" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Kluci před kamerou</h2>
                        <p class="text-muted">Nepamatuješ si, kdo tě provází pořadem? Tak to čekuj!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/honza.png"/>
                                    <h3>Honza</h3>
                                    <p class="text-muted">Týpek co má nad náma pevnou ruku a nenechá nás plně divočit. Stejně se vždy patlá s natočenym balastem a vytvoří z toho skvělé video.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/vojta.png"/>
                                    <h3>Vojta</h3>
                                    <p class="text-muted">Milovník piva a dobrých komiksů. Stejně tak vášnivý hráč takových těch divných kartiček. Vedoucí týmu co umí zavelet</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/port.png"/>
                                    <h3>Port</h3>
                                    <p class="text-muted">Sice přišel poslední, ale s ním přisla pořádná kvalita (Vojta neslouhlasně exuje pivo). Ví o čem mluví a má to všechno na háku. A má jen o malinko lepší vous než Walome.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/walome.png"/>
                                    <h3>Walome</h3>
                                    <p class="text-muted">Kluk, který se zrodil pro hejt. Nebo se hejt zrodil pro něj. Lidé se v tom pořadí rozcházejí, ale jedno je jisté: Walome nesnáší zastánce obou variant.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/kuba.png"/>
                                    <h3>Kuba</h3>
                                    <p class="text-muted">Tenhle kluk má super Image. Jako jediný z nás na kameře vypadá vždy skvěle (Vojta právě rozbil klávesnici), stejně jako má skvělý výběr čtiva.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="{{ site.rewrite }}img/portfolio/ondra.png"/>
                                    <h3>Ten Člověk</h3>
                                    <p class="text-muted">Jedinej z nás pořádně neví co je komiks a je vlastně do počtu. Na druhou stranu dobře předstírá, že tomu rozumí a snaží se nás trochu rebelovat, což je občas třeba.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </section>
